<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="lerner.blindBridge.main">
  <properties>
    <property name="name">bridge4blind</property>
    <!-- 
    <property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %C:%L | %msg%n</property>
	 It will look like that:
	 2013-04-03 07:37:51.993 [009-exec-1] WARN com.clickshare.CLASSNAME:LINENUM | MESSAGE
    -->
    <property name="pattern">%d{HH:mm:ss} [%t] %p %C:%L | %msg%n</property>
    <!-- 
	 It will look like that:
	 07:37:51 [009-exec-1] WARN com.clickshare.CLASSNAME:LINENUM | MESSAGE
    -->
  </properties>
  
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}"/>
    </Console>

    <JTextAreaAppender name="jtextarea-log" maxLines="5000">
      <PatternLayout pattern="${pattern}" />
	</JTextAreaAppender>
     
  </appenders>

  <loggers>
    <root level="error"> <!-- We start logging only errors -->
      <appender-ref ref="Console"/> <!-- To console -->
      <appender-ref ref="jtextarea-log"/>
    </root>
  </loggers>

</configuration>
  
